fennel --compile _globals.fnl -> dist/_globals.lua && 
fennel --compile background.fnl -> dist/background.lua && 
fennel --compile chrome.fnl -> dist/chrome.lua && 
fennel --compile controls.fnl -> dist/controls.lua && 
fennel --compile game.fnl -> dist/game.lua && 
fennel --compile player.fnl -> dist/player.lua && 
fennel --compile sound.fnl -> dist/sound.lua && 
fennel --compile stage.fnl -> dist/stage.lua && 
fennel --compile start.fnl -> dist/start.lua && 
fennel --compile classes/block.fnl -> dist/classes/block.lua && 
fennel --compile classes/bullet.fnl -> dist/classes/bullet.lua && 
fennel --compile classes/enemy.fnl -> dist/classes/enemy.lua && 
fennel --compile classes/explosion.fnl -> dist/classes/explosion.lua && 
fennel --compile classes/indicator.fnl -> dist/classes/indicator.lua && 
fennel --compile levels/one.fnl -> dist/levels/one.lua